html {
  min-height:100%;
  overflow-y:scroll;
  background:#202020;
}

body {
  font-family:Verdana, Geneva, sans-serif;
  padding:0;
}

img {
  border-style: double;
  border-color: #FFFFFF;
}

.App {
  text-align: center;
  color: #80FF40;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
